#about
    padding: 50px
    h1
        font-size: 50px
        font-weight: 700
        margin: 10px 0 20px 200px
    h2
        font-size: 20px
        margin: 10px 0 90px 200px
    .box1
        width: 200px
        height: 200px
        border: 3px solid #000000
        border-radius: 100px
        .imhbox
            width: 200px
            
    .textbox
        h3
            margin: 0 10px 10px 440px
            font-size: 45px 
            font-weight: 700
           
        h4 
            font-size: 45px 
            font-weight: 700
            margin: 0 10px 20px 210px
        h5
            text-align: right
            font-size: 25px
            margin: 10px 10px 0 200px
            line-height: 1.5
    
             
            
            
        